:root {
    /* root variables */
    --notice-height: 0px;
    --notice-join: transparent;
    --notice-welcome: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 310 300' width='100' height='100' preserveAspectRatio='xMidYMid meet' style='width: 100%25; height: 100%25; transform: translate3d(0px, 0px, 0px); content-visibility: visible;'%3E%3Cdefs%3E%3CclipPath id='__lottie_element_379'%3E%3Crect width='310' height='300' x='0' y='0'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23__lottie_element_379)'%3E%3Cg transform='matrix(1,0,0,1,3,4)' opacity='0.0003448678056719245' style='display: none;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,31.573999404907227,177.8260040283203)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' fill-opacity='0' stroke='rgb(123,162,255)' stroke-opacity='1' stroke-width='15' d=' M22.010000228881836,22.010000228881836 C-2.302000045776367,22.010000228881836 -22.010000228881836,2.302000045776367 -22.010000228881836,-22.010000228881836'%3E%3C/path%3E%3C/g%3E%3Cg opacity='1' transform='matrix(1,0,0,1,45.09299850463867,164.3070068359375)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' fill-opacity='0' stroke='rgb(123,162,255)' stroke-opacity='1' stroke-width='15' d=' M8.892999649047852,8.892999649047852 C-0.9290000200271606,8.892999649047852 -8.892999649047852,0.9290000200271606 -8.892999649047852,-8.892999649047852'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,3,4)' opacity='0.0003448678056719245' style='display: none;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,174.9499969482422,34.45000076293945)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' fill-opacity='0' stroke='rgb(123,162,255)' stroke-opacity='1' stroke-width='15' d=' M-22.010000228881836,-22.010000228881836 C2.302000045776367,-22.010000228881836 22.010000228881836,-2.302000045776367 22.010000228881836,22.010000228881836'%3E%3C/path%3E%3C/g%3E%3Cg opacity='1' transform='matrix(1,0,0,1,161.43099975585938,47.96900177001953)'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' fill-opacity='0' stroke='rgb(123,162,255)' stroke-opacity='1' stroke-width='15' d=' M-8.892999649047852,-8.892999649047852 C0.9290000200271606,-8.892999649047852 8.892999649047852,-0.9290000200271606 8.892999649047852,8.892999649047852'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9432803988456726,-0.33199700713157654,0.33199700713157654,0.9432803988456726,208.11074829101562,115.70247650146484)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M0,-53.45000076293945 C0,-53.45000076293945 0,-53.45000076293945 0,-53.45000076293945 C10.770000457763672,-53.45000076293945 19.5,-44.720001220703125 19.5,-33.95000076293945 C19.5,-33.95000076293945 19.5,43.45000076293945 19.5,43.45000076293945 C19.5,48.972999572753906 15.02299976348877,53.45000076293945 9.5,53.45000076293945 C9.5,53.45000076293945 -9.5,53.45000076293945 -9.5,53.45000076293945 C-15.02299976348877,53.45000076293945 -19.5,48.972999572753906 -19.5,43.45000076293945 C-19.5,43.45000076293945 -19.5,-33.95000076293945 -19.5,-33.95000076293945 C-19.5,-44.720001220703125 -10.770000457763672,-53.45000076293945 0,-53.45000076293945z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,128.65377807617188,105.4106674194336)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M35.992000579833984,35.992000579833984 C29.82200050354004,42.1619987487793 19.816999435424805,42.1619987487793 13.647000312805176,35.992000579833984 C13.647000312805176,35.992000579833984 -35.992000579833984,-13.647000312805176 -35.992000579833984,-13.647000312805176 C-42.1619987487793,-19.816999435424805 -42.1619987487793,-29.82200050354004 -35.992000579833984,-35.992000579833984 C-35.992000579833984,-35.992000579833984 -35.992000579833984,-35.992000579833984 -35.992000579833984,-35.992000579833984 C-35.992000579833984,-35.992000579833984 -35.992000579833984,-35.992000579833984 -35.992000579833984,-35.992000579833984 C-29.82200050354004,-42.1619987487793 -19.816999435424805,-42.1619987487793 -13.647000312805176,-35.992000579833984 C-13.647000312805176,-35.992000579833984 -13.647000312805176,-35.992000579833984 -13.647000312805176,-35.992000579833984 C-13.647000312805176,-35.992000579833984 35.992000579833984,13.647000312805176 35.992000579833984,13.647000312805176 C42.1619987487793,19.816999435424805 42.1619987487793,29.82200050354004 35.992000579833984,35.992000579833984 C35.992000579833984,35.992000579833984 35.992000579833984,35.992000579833984 35.992000579833984,35.992000579833984z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,102.6336669921875,127.80423736572266)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M42.736000061035156,42.645999908447266 C42.736000061035156,42.645999908447266 42.67599868774414,42.70600128173828 42.67599868774414,42.70600128173828 C36.50600051879883,48.875999450683594 26.50200080871582,48.875999450683594 20.332000732421875,42.70600128173828 C20.332000732421875,42.70600128173828 -42.736000061035156,-20.36199951171875 -42.736000061035156,-20.36199951171875 C-48.90599822998047,-26.531999588012695 -48.90599822998047,-36.5359992980957 -42.736000061035156,-42.70600128173828 C-42.736000061035156,-42.70600128173828 -42.736000061035156,-42.70600128173828 -42.736000061035156,-42.70600128173828 C-42.736000061035156,-42.70600128173828 -42.736000061035156,-42.70600128173828 -42.736000061035156,-42.70600128173828 C-36.566001892089844,-48.875999450683594 -26.562000274658203,-48.875999450683594 -20.392000198364258,-42.70600128173828 C-20.392000198364258,-42.70600128173828 -20.392000198364258,-42.70600128173828 -20.392000198364258,-42.70600128173828 C-20.392000198364258,-42.70600128173828 42.72600173950195,20.291000366210938 42.72600173950195,20.291000366210938 C48.90599822998047,26.459999084472656 48.90999984741211,36.47200012207031 42.736000061035156,42.645999908447266z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,90.89468383789062,157.2313232421875)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M40.073001861572266,39.98400115966797 C40.073001861572266,39.98400115966797 40.013999938964844,40.04399871826172 40.013999938964844,40.04399871826172 C33.84400177001953,46.2140007019043 23.839000701904297,46.2140007019043 17.66900062561035,40.04399871826172 C17.66900062561035,40.04399871826172 -40.073001861572266,-17.698999404907227 -40.073001861572266,-17.698999404907227 C-46.24300003051758,-23.868999481201172 -46.24300003051758,-33.874000549316406 -40.073001861572266,-40.04399871826172 C-40.073001861572266,-40.04399871826172 -40.073001861572266,-40.04399871826172 -40.073001861572266,-40.04399871826172 C-40.073001861572266,-40.04399871826172 -40.073001861572266,-40.04399871826172 -40.073001861572266,-40.04399871826172 C-33.90299987792969,-46.2140007019043 -23.89900016784668,-46.2140007019043 -17.729000091552734,-40.04399871826172 C-17.729000091552734,-40.04399871826172 -17.729000091552734,-40.04399871826172 -17.729000091552734,-40.04399871826172 C-17.729000091552734,-40.04399871826172 40.0620002746582,17.628000259399414 40.0620002746582,17.628000259399414 C46.24300003051758,23.79599952697754 46.24800109863281,33.808998107910156 40.073001861572266,39.98400115966797z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,89.53567504882812,191.7475128173828)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M30.80900001525879,30.72599983215332 C30.80900001525879,30.72599983215332 30.753999710083008,30.7810001373291 30.753999710083008,30.7810001373291 C24.583999633789062,36.95100021362305 14.579000473022461,36.95100021362305 8.409000396728516,30.7810001373291 C8.409000396728516,30.7810001373291 -30.80900001525879,-8.437000274658203 -30.80900001525879,-8.437000274658203 C-36.979000091552734,-14.607000350952148 -36.979000091552734,-24.611000061035156 -30.80900001525879,-30.7810001373291 C-30.80900001525879,-30.7810001373291 -30.80900001525879,-30.7810001373291 -30.80900001525879,-30.7810001373291 C-30.80900001525879,-30.7810001373291 -30.80900001525879,-30.7810001373291 -30.80900001525879,-30.7810001373291 C-24.638999938964844,-36.95100021362305 -14.633999824523926,-36.95100021362305 -8.46399974822998,-30.7810001373291 C-8.46399974822998,-30.7810001373291 -8.46399974822998,-30.7810001373291 -8.46399974822998,-30.7810001373291 C-8.46399974822998,-30.7810001373291 30.792999267578125,8.366000175476074 30.792999267578125,8.366000175476074 C36.97800064086914,14.534000396728516 36.98500061035156,24.549999237060547 30.80900001525879,30.72599983215332z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9571797847747803,-0.2894940972328186,0.2894940972328186,0.9571797847747803,-41.441558837890625,64.04440307617188)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,167.70599365234375,169.072998046875)'%3E%3Cpath fill='rgb(255,216,54)' fill-opacity='1' d=' M55.07899856567383,-33.15800094604492 C55.07899856567383,-33.15800094604492 23.3439998626709,-64.89299774169922 23.3439998626709,-64.89299774169922 C17.115999221801758,-71.12100219726562 7.01800012588501,-71.12100219726562 0.7900000214576721,-64.89299774169922 C0.7900000214576721,-64.89299774169922 -66.31700134277344,2.2139999866485596 -66.31700134277344,2.2139999866485596 C-72.54499816894531,8.442000389099121 -72.54499816894531,18.540000915527344 -66.31700134277344,24.76799964904785 C-66.31700134277344,24.76799964904785 -33.98699951171875,57.097999572753906 -33.98699951171875,57.097999572753906 C-33.98699951171875,57.097999572753906 -33.9109992980957,57.02199935913086 -33.9109992980957,57.02199935913086 C-33.9109992980957,57.02199935913086 -33.90599822998047,57.027000427246094 -33.90599822998047,57.027000427246094 C-33.875,57.05799865722656 -33.84400177001953,57.0890007019043 -33.8129997253418,57.119998931884766 C-8.324999809265137,82.55599975585938 32.95800018310547,82.51499938964844 58.39400100708008,57.027000427246094 C70.68699645996094,44.83599853515625 77.5989990234375,28.23900032043457 77.59400177001953,10.927000045776367 C77.59400177001953,10.927000045776367 77.59400177001953,-1.0449999570846558 77.59400177001953,-1.0449999570846558 C77.59400177001953,-7.736000061035156 74.86699676513672,-14.137999534606934 70.04299926757812,-18.774999618530273 C70.04299926757812,-18.774999618530273 55.07899856567383,-33.15800094604492 55.07899856567383,-33.15800094604492z'%3E%3C/path%3E%3C/g%3E%3Cg opacity='1' transform='matrix(1,0,0,1,169.26600646972656,171.13999938964844)'%3E%3Cpath fill='rgb(255,183,19)' fill-opacity='1' d=' M36.534000396728516,-31.139999389648438 C36.534000396728516,-31.139999389648438 36.534000396728516,21.260000228881836 36.534000396728516,21.260000228881836 C36.479000091552734,29.7810001373291 29.555999755859375,36.65999984741211 21.034000396728516,36.65999984741211 C21.034000396728516,36.65999984741211 -30.965999603271484,36.65999984741211 -30.965999603271484,36.65999984741211 C-33.946998596191406,36.75299835205078 -36.4379997253418,34.4109992980957 -36.53099822998047,31.43000030517578 C-36.57899856567383,29.898000717163086 -35.972999572753906,28.41900062561035 -34.86600112915039,27.360000610351562 C-34.86600112915039,27.360000610351562 27.134000778198242,-35.040000915527344 27.134000778198242,-35.040000915527344 C29.275999069213867,-37.194000244140625 32.757999420166016,-37.20399856567383 34.9119987487793,-35.0620002746582 C35.95600128173828,-34.02399826049805 36.540000915527344,-32.61199951171875 36.534000396728516,-31.139999389648438z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,127.54290008544922,122.03343963623047)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,183,19)' fill-opacity='1' d=' M-18.854999542236328,-18.854999542236328 C-18.854999542236328,-18.854999542236328 -18.854999542236328,-18.854999542236328 -18.854999542236328,-18.854999542236328 C-17.957000732421875,-19.753000259399414 -16.5,-19.753000259399414 -15.60200023651123,-18.854999542236328 C-15.60200023651123,-18.854999542236328 18.854999542236328,15.60200023651123 18.854999542236328,15.60200023651123 C19.753000259399414,16.5 19.753000259399414,17.957000732421875 18.854999542236328,18.854999542236328 C18.854999542236328,18.854999542236328 18.854999542236328,18.854999542236328 18.854999542236328,18.854999542236328 C17.957000732421875,19.753000259399414 16.5,19.753000259399414 15.60200023651123,18.854999542236328 C15.60200023651123,18.854999542236328 -18.854999542236328,-15.60200023651123 -18.854999542236328,-15.60200023651123 C-19.753000259399414,-16.5 -19.753000259399414,-17.957000732421875 -18.854999542236328,-18.854999542236328z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,106.68993377685547,147.23709106445312)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,183,19)' fill-opacity='1' d=' M-23.43400001525879,-23.43400001525879 C-23.43400001525879,-23.43400001525879 -23.43400001525879,-23.43400001525879 -23.43400001525879,-23.43400001525879 C-22.535999298095703,-24.332000732421875 -21.07900047302246,-24.332000732421875 -20.180999755859375,-23.43400001525879 C-20.180999755859375,-23.43400001525879 23.43400001525879,20.180999755859375 23.43400001525879,20.180999755859375 C24.332000732421875,21.07900047302246 24.332000732421875,22.535999298095703 23.43400001525879,23.43400001525879 C23.43400001525879,23.43400001525879 23.43400001525879,23.43400001525879 23.43400001525879,23.43400001525879 C22.535999298095703,24.332000732421875 21.07900047302246,24.332000732421875 20.180999755859375,23.43400001525879 C20.180999755859375,23.43400001525879 -23.43400001525879,-20.180999755859375 -23.43400001525879,-20.180999755859375 C-24.332000732421875,-21.07900047302246 -24.332000732421875,-22.535999298095703 -23.43400001525879,-23.43400001525879z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(0.9424320459365845,-0.3343976140022278,0.3343976140022278,0.9424320459365845,104.7594223022461,181.35972595214844)' opacity='1' style='display: block;'%3E%3Cg opacity='1' transform='matrix(1,0,0,1,0,0)'%3E%3Cpath fill='rgb(255,183,19)' fill-opacity='1' d=' M-13.241000175476074,-13.241000175476074 C-13.241000175476074,-13.241000175476074 -13.241000175476074,-13.241000175476074 -13.241000175476074,-13.241000175476074 C-12.343000411987305,-14.138999938964844 -10.88599967956543,-14.138999938964844 -9.98799991607666,-13.241000175476074 C-9.98799991607666,-13.241000175476074 13.241000175476074,9.98799991607666 13.241000175476074,9.98799991607666 C14.138999938964844,10.88599967956543 14.138999938964844,12.343000411987305 13.241000175476074,13.241000175476074 C13.241000175476074,13.241000175476074 13.241000175476074,13.241000175476074 13.241000175476074,13.241000175476074 C12.343000411987305,14.138999938964844 10.88599967956543,14.138999938964844 9.98799991607666,13.241000175476074 C9.98799991607666,13.241000175476074 -13.241000175476074,-9.98799991607666 -13.241000175476074,-9.98799991607666 C-14.138999938964844,-10.88599967956543 -14.138999938964844,-12.343000411987305 -13.241000175476074,-13.241000175476074z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.base_a4d4d9:has([class*="notice_"]) {

    &:has(.notice_dd5a33) {
        --notice-height: 140px;
        --notice-icon: var(--notice-join);
    }

    &:has(.notice_a50047) {
        --notice-height: 155px;
        --notice-icon: var(--notice-welcome);
    }

    >div[class*="notice_"] {
        align-content: space-between;
        background: var(--background-secondary);
        border-bottom: 1px solid var(--background-secondary);
        border-radius: 0;
        box-shadow: none;
        box-sizing: border-box;
        display: grid;
        gap: 12px 8px;
        grid-template-columns: 80px 1fr;
        grid-template-rows: auto 32px;
        height: var(--notice-height);
        left: 0;
        overflow: hidden;
        padding: 16px 0;
        position: absolute;
        top: 48px;
        width: 240px;

        &:before {
            box-shadow: var(--elevation-low);
            content: "";
            display: block;
            height: 1px;
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: -1px;
            z-index: 1;
        }

        &:after {
            border-bottom: 1px solid var(--background-modifier-accent);
            bottom: 0;
            content: "";
            height: 1px;
            left: 8px;
            position: absolute;
            width: calc(100% - 16px);
        }

        >* {
            align-self: stretch;
            box-sizing: border-box;
            width: 100%;
        }

        >div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            grid-column: 1 / -1;
            margin: 0;
            padding: 0 16px;
            text-align: left;

            &:before {
                content: "Notice";
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25;
                padding-bottom: 4px;
                position: relative;
                top: 0;
                z-index: 2;
            }

            &:after {
                background: linear-gradient(158deg, transparent 0%, var(--background-secondary) 78%), var(--notice-icon);
                background-position: top center;
                background-repeat: no-repeat;
                content: "";
                height: 100px;
                opacity: 0.5;
                position: absolute;
                right: -10px;
                top: 0;
                transform: rotate(19deg);
                width: 100px;
                z-index: -1;
            }
        }

        >button {
            border: 0 solid transparent;
            box-sizing: border-box;
            grid-row: 2;
            height: var(--custom-button-button-sm-height);
            left: 0;
            min-height: var(--custom-button-button-sm-height);
            padding: 0px;
            position: relative;
            right: 0;
            top: 0;

            &:first-of-type {
                grid-column: 1 / 2;
                padding-left: 12px;

                >div>svg {
                    display: none;
                }
            }

            &:last-of-type:not(:first-of-type) {
                grid-column: 2 / 3;
                padding-right: 12px;

                &:not(:has([aria-label="Loading"])):before {
                    align-items: center;
                    content: "Join Server";
                    display: flex;
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 500;
                    height: 100%;
                    line-height: 16px;
                    position: absolute;
                    top: 0;
                    user-select: none;
                    z-index: 2;
                }

                >* {
                    overflow: hidden;
                    text-indent: -9999px;
                    white-space: nowrap;
                }
            }

            &:only-of-type {
                grid-column: 1 / -1;
                padding: 0 12px;
            }

            &:hover {
                background: transparent;
            }

            >* {
                align-items: center;
                background-color: var(--brand-500);
                border: none;
                border-radius: 3px;
                box-sizing: border-box;
                color: var(--white-500);
                display: flex;
                font-size: 14px;
                font-weight: 500;
                height: 100%;
                justify-content: center;
                line-height: 16px;
                padding: 0 16px;
                position: relative;
                transition: background-color var(--custom-button-transition-duration) ease, color var(--custom-button-transition-duration) ease;
                user-select: none;
                width: 100%;
                z-index: 1;

                &:hover {
                    background-color: var(--brand-560);
                }

                &:has([class*="spinner"]) {
                    background: var(--brand-560);
                }
            }
        }
    }

    [class="header_fd6364"] {
        background: var(--background-secondary);
        box-shadow: none;
    }

    .container_fa295b:before {
        content: "";
        display: flex;
        height: var(--notice-height);
        position: relative;
        width: 100%;
    }

    .thin_eed6a8>ul {
        &:has(> div[style="height: 16px;"]) {
            margin-top: -17px;
        }

        &:has(> div[style="height: 84px;"]) {
            margin-top: -85px;
        }
    }
}