:root {
    /* root variables */
    --notice-margin-top: 48px;
    --notice-margin-bottom: auto;
    --notice-margin-left: 0px;
    --notice-margin-right: auto;

    --notice-enable-height-adjust: true;
    --notice-icon-join: transparent;
    --notice-icon-welcome: url("https://discord.com/assets/7f809e89e310c87b2e3f.svg");

    --notice-text-heading: "";
    --notice-text-join: "";
}


html {
    &:is([lang="en-GB"]),
    &:is([lang="en-US"]) {
        --notice-text-heading: "Notice"!important;
        --notice-text-join: "Join Server"!important;
    }
    &:is([lang="de"]) {
        --notice-text-heading: "Hinweis"!important;
        --notice-text-join: "Server beitreten"!important;
    }

    &:is([lang="es-ES"]) {
        --notice-text-heading: "Aviso"!important;
        --notice-text-join: "Unirse al servidor"!important;
		.base_a4d4d9:has(.notice_be03aa) {
            --notice-height: 155px!important;
        }
    }

    &:is([lang="fr"]) {
        --notice-text-heading: "Avis"!important;
        --notice-text-join: "Rejoindre le serveur"!important;
    }
}

.base_a4d4d9:has(.notice_be03aa) {

    &:has(.notice_dd5a33) {
        --notice-height: 140px;
        --notice-icon: var(--notice-icon-join);
    }

    &:has(.notice_a50047) {
        --notice-height: 155px;
        --notice-icon: var(--notice-icon-welcome);
    }

    >div.notice_be03aa {
        align-content: space-between;
        background: var(--background-secondary);
        border-bottom: 1px solid var(--background-secondary);
        border-radius: 0;
        bottom: var(--notice-margin-bottom);
        box-shadow: none;
        box-sizing: border-box;
        display: grid;
        gap: 12px 8px;
        grid-template-columns: 80px 1fr;
        grid-template-rows: auto 32px;
        height: var(--notice-height);
        left: var(--notice-margin-left);
        overflow: hidden;
        padding: 16px 0;
        position: absolute;
        right: var(--notice-margin-right);
        top: var(--notice-margin-top);
        width: 240px;

        &:before {
            box-shadow: var(--elevation-low);
            content: "";
            display: block;
            height: 1px;
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: -1px;
            z-index: 1;
        }

        &:after {
            border-bottom: 1px solid var(--background-modifier-accent);
            bottom: 0;
            content: "";
            height: 1px;
            left: 8px;
            position: absolute;
            width: calc(100% - 16px);
        }

        >* {
            align-self: stretch;
            box-sizing: border-box;
            width: 100%;
        }

        >div {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            grid-column: 1 / -1;
            margin: 0;
            padding: 0 16px;
            text-align: left;

            &:before {
                content: var(--notice-text-heading);
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25;
                padding-bottom: 4px;
                position: relative;
                top: 0;
                z-index: 2;
            }

            &:after {
                background: linear-gradient(158deg, transparent 0%, var(--background-secondary) 80%), linear-gradient(74deg, transparent 0%, var(--background-secondary) 85%), var(--notice-icon);
                background-position: top center;
                background-repeat: no-repeat;
                content: "";
                height: 100px;
                opacity: 0.5;
                position: absolute;
                right: 0;
                top: 0;
                transform: rotate(19deg);
                width: 100px;
                z-index: -1;
            }
        }

        >button {
            border: 0 solid transparent;
            box-sizing: border-box;
            grid-row: 2;
            height: var(--custom-button-button-sm-height);
            left: 0;
            min-height: var(--custom-button-button-sm-height);
            padding: 0px;
            position: relative;
            right: 0;
            top: 0;

            &:first-of-type {
                grid-column: 1 / 2;
                padding-left: 12px;

                >div>svg {
                    display: none;
                }
            }

            &:last-of-type:not(:first-of-type) {
                grid-column: 2 / 3;
                padding-right: 12px;

                &:not(:has([aria-label="Loading"])):before {
                    align-items: center;
                    content: var(--notice-text-join);
                    display: flex;
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 500;
                    height: 100%;
                    line-height: 16px;
                    position: absolute;
                    top: 0;
                    user-select: none;
                    z-index: 2;
                }

                >* {
                    overflow: hidden;
                    text-indent: -9999px;
                    white-space: nowrap;
                }
            }

            &:only-of-type {
                grid-column: 1 / -1;
                padding: 0 12px;
            }

            &:hover {
                background: transparent;
            }

            >* {
                align-items: center;
                background-color: var(--brand-500);
                border: none;
                border-radius: 3px;
                box-sizing: border-box;
                color: var(--white-500);
                display: flex;
                font-size: 14px;
                font-weight: 500;
                height: 100%;
                justify-content: center;
                line-height: 16px;
                padding: 0 16px;
                position: relative;
                transition: background-color var(--custom-button-transition-duration) ease, color var(--custom-button-transition-duration) ease;
                user-select: none;
                width: 100%;
                z-index: 1;

                &:hover {
                    background-color: var(--brand-560);
                }

                &:has([class*="spinner"]) {
                    background: var(--brand-560);
                }
            }
        }
    }

    .header_fd6364 {
        background: var(--background-secondary);
        box-shadow: none;
    }

    .container_fa295b:before {
        content: "";
        display: flex;
        height: var(--notice-height);
        position: relative;
        width: 100%;
    }

    @container(style(--notice-enable-height-adjust: true)) {
        .thin_eed6a8>ul {
            &:has(> div[style="height: 16px;"]) {
                margin-top: -17px;
            }

            &:has(> div[style="height: 84px;"]) {
                margin-top: -85px;
            }
        }
    }
}
