:root {
    --sidebar-channel-width: 68px;
    --sidebar-channel-hovered-width: 245px;
    --sidebar-channel-transition: 200ms;
    --sidebar-channel-hovered-transition: 600ms;
    --sidebar-channel-display-header: none;
}

[class*="sidebar-"]:has([aria-label*="(server)"]) {
    width: var(--sidebar-channel-width);
    transition: ease-out var(--sidebar-channel-transition);
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover,
[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within {
    width: var(--sidebar-channel-hovered-width);
    transition: ease-in var(--sidebar-channel-hovered-transition);
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>div:first_child()>header>div {
    display: flex;
    justify-content: center;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>div:first_child()>header>div>div {
    margin-right: 0px;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>[class*="scroller-"]>ul {
    cursor: pointer;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>[class*="scroller-"]>ul {
    cursor: auto;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>[class*="scroller-"]>ul>* {
    pointer-events: none;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>[class*="scroller-"]>ul>* {
    pointer-events: auto;
}

[class*="sidebar-"]:has([aria-label*="(server)"])>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div a>[class*="linkTop-"]>div:nth-last-child(-n + 2) {
    opacity: 0%;
    transition: ease-out var(--sidebar-channel-transition);
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div a>[class*="linkTop-"]>div:nth-last-child(-n + 2),
[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div a>[class*="linkTop-"]>div:nth-last-child(-n + 2) {
    opacity: 100%;
    transition: ease-in var(--sidebar-channel-hovered-transition);
}

[class*="sidebar-"]:has([aria-label*="(server)"])>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div a>div>div>svg {
    width: 18px;
    height: 18px;
}

[class*="sidebar-"]:has([aria-label*="(server)"])>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div div:has(a) {
    margin-left: 8px;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div div a,
[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div div a {
    margin-left: 0px;
}

[class*=unread-] {
    display: none;
}

[class*=modeUnread] [class*=icon-],
[class*=modeSelected-] [class*=icon-] {
    color: var(--interactive-active);
}

/* Only show down arrow on New unread */
[class*="sidebar-"]:has([aria-label*="(server)"])>nav>div:last-child>div>div>div {
    display: none;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>div:last-child>div>div>div {
    display: block;
}

[class*="sidebar-"]:has([aria-label*="(server)"])>nav>div:last-child>div>div>svg {
    margin-right: 0px;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>nav>div:last-child>div>div>svg {
    margin-right: 4px;
    transition: ease-in var(--sidebar-channel-transition);
}

/* Remove channels icon when there's channel emoji */
[class*="sidebar-"]:has([aria-label*="(server)"])>nav>[class*="scroller-"]>ul[aria-label*="Channels"]>li>div>div a:has(>:nth-child(n + 2))>[class*="linkTop-"]:has([class*="channelEmoji-"])>[class*="iconContainer-"] {
    display: none;
}

/* Fix channels padding */
[data-list-item-id*="channels___"] {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Show only your Profile picture on Sidebar */
[class*="sidebar-"]:has([aria-label*="(server)"])>[class*="panels-"]>[class*="container-"] {
    margin-left: 7px;
}

[class*="sidebar-"]:has([aria-label*="(server)"])>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"] {
    display: none;
}

[class*="sidebar-"]:has([aria-label*="(server)"]):hover>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"],
[class*="sidebar-"]:has([aria-label*="(server)"]):focus-within>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"] {
    display: block;
}