:root {
    --member-list-type: "both";
    --member-list-width: 70px;
    --member-list-transition: 200ms;
    --member-list-active-width: 240px;
    --member-list-active-transition: 800ms;
}

@container style(--member-list-type: "focus") or style(--member-list-type: "hover") or style(--member-list-type: "both") {

    /* unset membersWrap min-width */
    [class*="membersWrap_"] {
        min-width: unset !important;
        width: unset !important;
        flex-basis: unset !important;
    }

    /* unset member container max-width */
    [class*="membersWrap_"] [class*="members_"] [class*="member_"] {
        max-width: unset !important;
    }

    /* active membersWrap width */
    [class*="membersWrap_"] [class*="members_"] {
        width: var(--member-list-active-width);
    }

    [class*="membersWrap_"] * {
        transition: width var(--member-list-active-transition), opacity var(--member-list-active-transition);
    }

    div[id^="popout"][style*="right:"]:has([class*="user"]) {
        right: calc(var(--member-list-active-width) + 20px) !important;
        transition: unset !important;
    }

    div[id^="popout"][style*="right:"]:has([class*="user"])>div {
        transition: unset !important;
        transform: unset !important;
    }
}


@container style(--member-list-type: "focus") or style(--member-list-type: "both") {
    [class*="membersWrap_"]:not(:focus-within) [class*="members_"] {
        width: var(--member-list-width);
    }

    [class*="membersWrap_"]:not(:focus-within) * {
        transition: width var(--member-list-transition), opacity var(--member-list-transition);
    }

    *:has([class*="membersWrap_"]:not(:focus-within)) div[id^="popout"][style*="right:"]:has([class*="user"]) {
        right: calc(var(--member-list-width) + 20px) !important;
        transition: right var(--member-list-transition) !important;
    }

    /* pointer eventers */
    [class*="membersWrap_"]:not(:focus-within) [class*="members_"] {
        cursor: pointer;
    }

    [class*="membersWrap_"]:not(:focus-within) [class*="members_"] * {
        pointer-events: none;
    }

    /* hide user role category when not focus-within */
    [class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"] {
        opacity: 0%;
        height: 0px;
    }

    [class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"]:first-of-type {
        padding: 10px 8px 0px 16px;
    }

    [class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"]:not(:first-of-type) {
        padding: 0px 8px 0px 16px;
    }

    /* membersWrap height for not focus-within */
    [class*="membersWrap_"]:not(:focus-within) [class*="content_"][aria-label="Members"] {
        height: 100vh !important;
    }

    /* hide notes in private threads */
    [class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="private_"]~div:last-child,
    [class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="divider_"],
    [class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="private_"] {
        opacity: 0%;
        transition: calc(var(--member-list-transition) - 100ms);
    }

    /* Fix new child div from memberlist that has its own width which brokes the previous commit */
    *:has([class*="membersWrap_"]:not(:focus-within)) [class*="membersListNotices_"]:not(:has(>div>div)) {
        width: unset;
    }

    [class*="membersWrap_"]:not(:focus-within) [class*="members_"] [class*="member_"] [class*="memberInner_"] {
        justify-content: center
    }

    [class*="membersWrap_"]:not(:focus-within) [class*="members_"] [class*="member_"] [class*="memberInner_"] [class*="content_"] {
        visibility: hidden;
        max-width: 0;
    }
}


@container style(--member-list-type: "hover") or style(--member-list-type: "both") {
    [class*="membersWrap_"]:not(:hover) [class*="members_"] {
        width: var(--member-list-width);
        transition: var(--member-list-transition);
    }

    [class*="membersWrap_"]:not(:hover) * {
        transition: width var(--member-list-transition), opacity var(--member-list-transition);
    }

    *:has([class*="membersWrap_"]:not(:hover)) div[id^="popout"][style*="right:"]:has([class*="user"]) {
        right: calc(var(--member-list-width) + 20px) !important;
        transition: right var(--member-list-transition) !important;
    }

    /* pointer eventers */
    [class*="membersWrap_"]:not(:hover) [class*="members_"] {
        cursor: pointer;
    }

    [class*="membersWrap_"]:not(:hover) [class*="members_"] * {
        pointer-events: none;
    }

    /* hide user role category when not hover */
    [class*="membersWrap_"]:not(:hover) [class*="membersGroup_"] {
        opacity: 0%;
        height: 0px;
    }

    [class*="membersWrap_"]:not(:hover) [class*="membersGroup_"]:first-of-type {
        padding: 10px 8px 0px 16px;
    }

    [class*="membersWrap_"]:not(:hover) [class*="membersGroup_"]:not(:first-of-type) {
        padding: 0px 8px 0px 16px;
    }

    /* membersWrap height for not focus-within */
    [class*="membersWrap_"]:not(:hover) [class*="content_"][aria-label="Members"] {
        height: 100vh !important;
    }

    /* hide notes in private threads */
    [class*="membersWrap_"]:not(:hover) [class*="content_"] [aria-label="Members"]>[class*="private_"]~div:last-child,
    [class*="membersWrap_"]:not(:hover) [class*="content_"] [aria-label="Members"]>[class*="divider_"],
    [class*="membersWrap_"]:not(:hover) [class*="content_"] [aria-label="Members"]>[class*="private_"] {
        opacity: 0%;
        transition: calc(var(--member-list-transition) - 100ms);
    }

    /* Fix new child div from memberlist that has its own width which brokes the previous commit */
    *:has([class*="membersWrap_"]:not(:hover)) [class*="membersListNotices_"]:not(:has(>div>div)) {
        width: unset;
    }

    [class*="membersWrap_"]:not(:hover) [class*="members_"] [class*="member_"] [class*="memberInner_"] {
        justify-content: center
    }

    [class*="membersWrap_"]:not(:hover) [class*="members_"] [class*="member_"] [class*="memberInner_"] [class*="content_"] {
        visibility: hidden;
        max-width: 0;
    }
}


@container style(--member-list-type: "both") {
    *:has([class*="membersWrap_"]:hover) {
        --member-list-type: "hover";
    }

    *:has([class*="membersWrap_"]:focus-within) {
        --member-list-type: "focus";
    }
}