:root {
    --member-list-width: 70px;
    --member-list-focused-width: 240px;
    --member-list-transition: 200ms;
    --member-list-focused-transition: 600ms;
}

/* focused-within membersWrap width */
[class*="membersWrap_"] [class*="members_"] {
    width: var(--member-list-focused-width);
    transition: ease-in var(--member-list-focused-transition);
}

/* unfocused-within membersWrap width */
[class*="membersWrap_"] {
    min-width: var(--member-list-width);
}

[class*="membersWrap_"]:not(:focus-within) [class*="members_"] {
    width: var(--member-list-width);
    transition: ease-in-out var(--member-list-transition);
}

/* pointer eventers */
[class*="membersWrap_"]:not(:focus-within) [class*="members_"] {
    cursor: pointer;
}

[class*="membersWrap_"]:not(:focus-within) [class*="members_"] * {
    pointer-events: none;
}

/* hide user role category when not focus-within */
[class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"] {
    opacity: 0%;
    height: 0px;
    transition: ease-out var(--member-list-transition);
}

[class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"]:first-of-type {
    padding: 10px 8px 0px 16px;
}

[class*="membersWrap_"]:not(:focus-within) [class*="membersGroup_"]:not(:first-of-type) {
    padding: 0px 8px 0px 16px;
}

/* membersWrap height for not focus-within */
[class*="membersWrap_"]:not(:focus-within) [class*="content_"][aria-label="Members"] {
    height: 100vh !important;
}

/* hide notes in private threads */
[class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="private_"]~div:last-child,
[class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="divider_"],
[class*="membersWrap_"]:not(:focus-within) [class*="content_"] [aria-label="Members"]>[class*="private_"] {
    opacity: 0%;
    transition: ease-out calc(var(--member-list-transition) - 0.5s);
}

/* Fix new child div from memberlist that has its own width which brokes the previous commit */
*:has([class*="membersWrap_"]:not(:focus-within)) [class*="membersListNotices_"]:not(:has(>div>div)) {
    width: unset;
}
