:root {
    --member-list-width: 70px;
    --member-list-focused-width: 240px;
    --member-list-transition: 200ms;
    --member-list-focused-transition: 600ms;
}

/* unfocused-within membersWrap width */
[class*="membersWrap-"] {
    min-width: var(--member-list-width);
    transition: ease-in-out var(--member-list-transition);
}

[class*="membersWrap-"] [class*="members-"] {
    width: var(--member-list-width);
}

/* focused-within membersWrap width */
[class*="membersWrap-"]:focus-within [class*="members-"] {
    width: var(--member-list-focused-width);
    transition: ease-in var(--member-list-focused-transition);
}

/* pointer eventers */
[class*="membersWrap-"]:not(:focus-within) [class*="members-"] {
    cursor: pointer;
}

[class*="membersWrap-"]:not(:focus-within) [class*="members-"]>* {
    pointer-events: none;
}

/* hide user role category when not focus-within */
[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"] {
    opacity: 0%;
    height: 0px;
    transition: ease-out var(--member-list-transition);
}

[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"]:first-of-type {
    padding: 10px 8px 0px 16px;
    content: "searchhhhh"
}

[class*="membersWrap-"]:not(:focus-within) [class*="membersGroup-"]:not(:first-of-type) {
    padding: 0px 8px 0px 16px;
}

/* membersWrap height for not focus-within */
[class*="membersWrap-"]:not(:focus-within) [class*="content-"][aria-label="Members"] {
    height: 100vh !important;
}

/* hide notes in private threads */
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="private-"]~div:last-child,
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="divider-"],
[class*="membersWrap-"]:not(:focus-within) [class*="content-"] [aria-label="Members"]>[class*="private-"] {
    opacity: 0%;
    transition: ease-out calc(var(--member-list-transition) - 0.5s);
}