:root {
	--sidebar-dm-width: 68px;
	--sidebar-dm-hovered-width: 245px;
	--sidebar-dm-transition: 200ms;
	--sidebar-dm-hovered-transition: 600ms;
	--sidebar-dm-display-header: none;
}

[class*="sidebar-"]:has([aria-label*="Private"]) {
	width: var(--sidebar-dm-width);
	transition: ease-out var(--sidebar-dm-transition);
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover>nav>[class*="scroller-"]>ul>li:hover>div>[class*="closeButton"],
[class*="sidebar-"]:has([aria-label*="Private"]):hover>nav>[class*="scroller-"]>ul>li:focus-within>div>[class*="closeButton"] {
	display: none;
}

[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>nav>[class*="scroller-"]>ul>li:hover>div>[class*="closeButton"],
[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>nav>[class*="scroller-"]>ul>li:focus-within>div>[class*="closeButton"] {
	display: block;
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover>nav>[class*="scroller-"]>ul {
	cursor: pointer;
}

[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>nav>[class*="scroller-"]>ul {
	cursor: auto;
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover>nav>[class*="scroller-"]>ul>* {
	pointer-events: none;
}

[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>nav>[class*="scroller-"]>ul>* {
	pointer-events: auto;
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover,
[class*="sidebar-"]:has([aria-label*="Private"]):focus-within {
	width: var(--sidebar-dm-hovered-width);
	transition: ease-in var(--sidebar-dm-hovered-transition);
}

[class*="sidebar-"]:has([aria-label*="Private"])>[class*="panels-"]>[class*="container-"] {
	margin-left: 7px;
}

[class*="sidebar-"]:has([aria-label*="Private"])>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"] {
	display: none;
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"],
[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>[class*="panels-"]>[class*="container-"]>[class*="avatarWrapper-"]>[class*="nameTag-"] {
	display: block;
}

[class*="sidebar-"]:has([aria-label*="Private"])>nav>[class*="scroller-"]>ul>[class*="privateChannelsHeaderContainer-"] {
	display: none;
}

[class*="sidebar-"]:has([aria-label*="Private"]):hover>nav>[class*="scroller-"]>ul>[class*="privateChannelsHeaderContainer-"],
[class*="sidebar-"]:has([aria-label*="Private"]):focus-within>nav>[class*="scroller-"]>ul>[class*="privateChannelsHeaderContainer-"] {
	display: var(--sidebar-dm-display-header);
}

[class*="sidebar-"]:has([aria-label*="Private"])>nav>[class*="searchBar-"] {
	display: none;
}